__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.coverage
build/
dist/
*.egg-info/
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.toc
**/paper/*.aux
**/paper/*.bbl
**/paper/*.blg
**/paper/*.log
**/paper/*.out
**/paper/*.toc
**/paper/paper.txt
**/paper/build-preview*/
