# Retained research PDFs are local-only. Public synchronization is limited to
# manifests, checksum ledgers, and read-integrity sidecars unless an exact
# manifestation has an independently documented redistribution licence.
*.pdf
