# Retained framework PDFs are local research copies. Public synchronization is
# limited to manifests, checksum ledgers, and read-integrity sidecars unless an
# exact-manifestation redistribution licence is separately documented.
*.pdf
